*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background:wheat;
    min-height: 100vh;
    display: grid;
    place-content: center;
}
.example{
    padding: 3em;
    max-width: 1200px;
    display: flex;
    gap: clamp(2em , 8vw, 4rem);
}
/* Hamburger one */
button{
    background: transparent;
    border: 10px solid var(--button-color,#000);
    border-radius: 1em;
}
.button-one{
    --button-1: #000;
}
.button-one .line{
    background: var(--button-1);
    transition: 
    y 300ms ease-in 300ms,
    rotate 300ms ease-in,
    opacity 0ms 300ms;
    transform-origin: center;
}
.button-one[aria-expanded="true"] .line{
    transition: 
    y 300ms ease-in,
    rotate 300ms ease-in 300ms,
    opacity 300ms 300ms;
}
.button-one[aria-expanded="true"] :is(.top,.bottom){
    y: 45px;
}
.button-one[aria-expanded="true"] .top{
    rotate: 45deg;
}
.button-one[aria-expanded ="true"] .middle{
    opacity: 0;
}
.button-one[aria-expanded="true"] .bottom{
    rotate: -45deg;
    }

/* Hamburger Second */
.button-two{
    --button-color:#000;
}
.button-two[data-state="closed"] .line{
    animation: to-open-icon 1s forwards;
}
.button-two[data-state="opened"] .line{
animation: to-close-icon 1s forwards;
}
.button-two .line.top{
    --rotation:45deg;
    transform-origin: 35px 45px;
}
.button-two .line.bottom{
    --rotation:-45deg;
    transform-origin:40px 55px;
}
@keyframes to-close-icon {
    0%{stroke-dashoffset: 0;}
    40%{stroke-dashoffset: 79.9;}
    60%{stroke-dashoffset: 79.9; rotate: var(--rotation);}
    100%{stroke-dashoffset: 0;
    rotate:var(--rotation);}
}
@keyframes to-open-icon {
    0%{stroke-dashoffset: 0;rotate: var(--rotation);}
    40%{stroke-dashoffset: 79.9;
        rotate:var(--rotation)}
    60%{stroke-dashoffset: 79.9;}
    100%{stroke-dashoffset: 0;
    }
}

/* Hamburger 3 */
.button-three{
    overflow: hidden;
}
.button-three .line{
    transition: 1s;
    stroke-dasharray: 60 31 60 300;
}
.button-three[aria-expanded='true'] .line{
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
}
.button-three .hamburger{
    transition: translate 1s , rotate 1s;
}
.button-three[aria-expanded='true'] .hamburger{
    translate: 10px -10px;
    rotate: .125turn;
}