*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
  border: none;
}
:root{
  --blue:#1e2938;
  --green: #10b981;
}
.container{
  max-width: 550px;
  margin: auto 1em;
  background: var(--blue);
  color: white;
  position: relative;
  top: 20vh;
  left: 50%;
  transform: translate(-50%);
  padding: 1em;
  border-radius: 10px;
  padding-left: 3em;
}

.container .title{
  margin-top: 2em;
}
.container .title h1{
  width: 100%;
  font-size: 3em;
  line-height: .9;
  margin-bottom: .2em;
}
.container .title h1 span{
  color: var(--green);
}
.container .title p{
  color: #ccc;
  margin-bottom: 2em;
}
.container .btn{
  outline: none;
  border: 0px;
  color: white;
  background: var(--green);
  padding: .6em .8em;
  border-radius: 5px;
  margin-bottom: 3em;
}
.container .password{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2em;
  width: 80%;
}

.password :is(.pass-1,.pass-2){
    color: var(--green);
    width: 50%;
    background: rgba(0, 0, 0, .3);
    font-size: 1.1em;
    padding: .5em;
    border-radius: 8px;
    text-align: center;
}
.password .pass-1{
  margin-right: 1em;
}
